img{
background-repeat:no-repeat;
position: fixed;
top: -20px;
left: -400px;
opacity:100%;
visibility: visible; 
z-index: 1;



}



#caja1{
    width: 400px;
    height: 2000px;
    background-color: white;
    color: black;
    border: 10px dashed black;
    padding: 50px;
    
    position:absolute;
    top: 210px;
    left: 600px;
    z-index: -1;    
}
    
 


 #caja2{
    width: 400px;
    height: 1000px;
    background-color: white;
    color: black;
    margin-left: 100px;
    margin-top: 110px;
    border: 10px dashed black;
    padding: 50px;
    position: absolute;
    z-index: -2;
 }



















